.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border: 5px solid #40E0D0;
    border-radius: 10px;
}

#qnum{
    text-align: left;
    width: 95%;
}

.options{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.options button{
    width: 40%;
    margin: 25px 0;
    box-shadow: #40E0D0 2px 2px;
}
.options button:hover{
    background-color: #40E0D0;
    transform: scale(1.01);
}

h2{
    margin-bottom: 100px;
}

.nextoptions{
    margin-top: 50px;
}
.nextoptions button{
    margin: 0 15px;
    box-shadow: none;
}

#previous{
    background-color: #2196F3;
}

#next{
    background-color: #4CAF50;
}

#quit{
    background-color: #ff4d00;
}
#question{
    width: 80%;
}